@media screen and (max-width: 900px) {
  .ex-input {
    width: 100%;
  }

  .col-input {
  }
.nav{
  width: 60%;
}
.nav ul li{
  font-size: 22px;
}
.mid{
  display: flex;
  justify-content: center !important;
  width: 42%;
  padding: 7px;
}
  .flex {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .text {
    font-size: 17px;
  }

  .get {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .head {
    text-align: center;
    margin: auto;
  }

  .login-container {
    width: 80%;
    height: fit-content;
  }

  .modal-dialog {
    position: relative;
    width: 93%;
    margin: auto;
    background-color: var(--shade);
    border-radius: 5px;
  }
  .flex-container {
    justify-content: center;
    margin-top: 65px;
    padding: none !important;
  }
  .post-image{
    width: 100%;
  }
  .aside {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .content {
    width: 100%;

    padding: 0 !important;
  }
  .wrap-column {
    display: none;
  }
  .input-container {
    display: none;
  }
  .desktop-menu {
    display: none !important;
  }
  .jumbo {
    display: flex;
    margin: auto;
    align-items: center !important;
    padding: 4px;
  }
  .greetings {
    align-items: center;
  }
  .drive {
    align-items: center;
  }
  .create-post {
    width: 100% !important;
  }
  .tag {
    display: none;
    border: none;
    color: limegreen;
  }
  .comments-container {
    border-bottom: none;
    border-left: 1px solid grey;
  }
  .comment-input-container {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0;
    border-bottom: none;
    width: 100%;
  }
  .comment-input-container input {
    width: 110%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .comment-list {
    margin-left: 0;
    padding: 0;
    margin-right: 0;
  }
.header{
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  display: flex;
  height: fit-content !important;
  align-items: center !important;
  justify-content: space-evenly !important;
}
.explore{
  width: 98%;
  border: none;
  justify-content: center;
  display: flex;

  flex-direction: column;
  justify-content: center;
  padding: 3px !important;
  margin: 0 !important;
}.explore-lists{
  width: 100%;
  margin: 0 !important;
  margin-left: 0;
  margin-bottom: 20px !important;
  margin: auto;
}
.notification-dropdown {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 320px;
  background-color: #0e2533;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 16px;
}
.set-container{
  height: 100vh;
}
.settings-container{
  height: fit-content;
  flex-direction: column;
  width: fit-content;
}
.conversation-container{
}
.message-conversation{
}
.message-modal-content{
  width: 80%;
}
.bars {
  display: block;
}
  .prof {
    margin-left: 0;
    margin: 0;
  }/* Add these styles to your CSS file or style component */
    /* Add these styles to your CSS file */
}